.citacao {
   background-color: #D9E5E3;
   border: 10px solid #C2CCCA;
   width: 250px;
   margin: 20px 40px;
   box-sizing: border-box;
}

cite {
   float: right;
   font-style: italic;
   display: block;
}

.fiat {
   float: right;
}

.petrobras {
   float: left;
}
