.portfolio li {
   box-sizing: border-box;
   display: inline-block;
   background-color: #FAFFFC;
   border: 8px solid black;
   width: 45%;
   margin-right: 16px;
   margin-bottom: 16px;
   padding: 16px;
}

.portfolio img {
   width: 100%;
}
